.containerStyles {
    height: 30px;
    width: 60%;
    background-color: #e0e0de;
    border-radius: 5px;
    margin-right: .5em;
}


.labelStyles {
    font-family: 'GothamPro';
    font-size: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.label-line{
    width: 61%;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
}

#line-progress{
    position: relative;
    padding: 5px;
    color: black;
    width: fit-content;
}

#last-line{
    margin-top: unset;
}

@media screen and (max-width: 577px) {
    .containerStyles{
        width: 90%;
    }
}