.header{
    font-family: 'GothamPro';
}

/* .social-icons{
    width: 24px;
    height: 24px;
} */

.ul-header{
    color: black;
    display: flex;
    width: 590px;
    font-family: 'GothamPro';
    font-size: normal;   
    line-height: 14px,    
}

.vertical-line{
    height: 24px;
    border-left: 1px solid black;
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px
}

#last-pay-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 125px;
    height: 14px;
    left: 15px;
    top: 0px; 
    letter-spacing: 0.03em;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}

#last-pay-value{
    font-size: 14px;
    color: black;
    font-weight: bold;
    position: static;
    width: 84px;
    height: 4px;
    left: 5px;
    top: 0px;
    letter-spacing: 0.03em;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

#count-lessons-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 101px;
    height: 14px;
    left: 0px;
    top: 0px;
    letter-spacing: 0.03em;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}
#count-lessons-value{
    font-size: 14px;
    color: black;
    position: static;
    width: 46px;
    height: 14px;
    left: 106px;
    top: 0px;
    font-weight: bold;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

#variant-comment-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 88px;
    height: 14px;
    left: 0px;
    top: 0px;

    letter-spacing: 0.03em;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}

#main-page-button{
    position: absolute;
    width: 75px;
    height: 13px;
    left: 237px;
    top: 20px;

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

#main-page-button:hover{
    background-color: #25BA00;
}


#information-button{
    position: absolute;
    width: 115px;
    height: 13px;
    left: 362px;
    top: 20px;

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

#information-button:hover{
    background-color: #25BA00;
}

#schedule-button{
    position: absolute;
    width: 109px;
    height: 13px;
    left: 527px;
    top: 20px;

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

#schedule-button:hover{
    background-color: #25BA00;
}

/* .enter-header-button{
    font-family: 'GothamPro';
    font-size: 14px;
    font-weight: bold;
    color: white;
    top: 36px;
    padding: 10px;
    background-color: #25BA00;
    border-radius: 10%;
} */