.header{
    font-family: 'GothamPro';
}

.ul-header{
    color: black;
    display: flex;
    width: 590px;
    font-family: 'GothamPro';
    font-size: normal;   
    line-height: 14px,    
}

.vertical-line{
    height: 24px;
    border-left: 1px solid black;
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px
}

#last-pay-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 125px;
    height: 14px;
    left: 15px;
    top: 0px; 
    letter-spacing: 0.03em;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}

#last-pay-value{
    font-size: 14px;
    color: black;
    font-weight: bold;
    position: static;
    width: 84px;
    height: 4px;
    left: 5px;
    top: 0px;
    letter-spacing: 0.03em;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

#count-lessons-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 101px;
    height: 14px;
    left: 0px;
    top: 0px;
    letter-spacing: 0.03em;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}
#count-lessons-value{
    font-size: 14px;
    color: black;
    position: static;
    width: 46px;
    height: 14px;
    left: 106px;
    top: 0px;
    font-weight: bold;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

#variant-comment-header{
    font-size: 14px;
    color: black;
    position: static;
    width: 88px;
    height: 14px;
    left: 0px;
    top: 0px;

    letter-spacing: 0.03em;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-menu li{
    margin: 0px 1.5em;
    padding: unset;
    align-items: center;
}

#main-page-button{

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

#information-button{

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

#schedule-button{

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

#award-button{

    font-family: 'GothamPro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

.enter-header-button{
    font-family: 'GothamPro';
    text-transform: uppercase;
    font-size: 14px;
    top: 36px;
    padding: 10px;
    background-color: #25BA00;
}

.enter-header-button a{
    color: white;
    font-weight: bold;
}